<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10 seconds">
    <!--APP_NAME命名，遵循 工程初始化说明-工程列表 -->
    <property name="APP_NAME" value="spring-demo"/>
    <property name="HOST_NAME" value="${HOSTNAME:-UNKNOWN}"/>
    <!--日志目录命名 -->
    <property name="LOG_PATH" value="/mnt/logs/${APP_NAME}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 控制台 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--info级别的日志打印配置-->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-info-%d{yyyyMMdd}.log</fileNamePattern>
            <!--日志文件保留策略-->
            <MaxHistory>3</MaxHistory>
            <!--<maxFileSize>1MB</maxFileSize>-->
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} ${HOST_NAME} %p [%logger{36}.%M\(\):%L] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!--info级别的日志打印配置-->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${LOG_PATH}/${APP_NAME}-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-error-%d{yyyyMMdd}.log</fileNamePattern>
            <!--日志文件保留策略-->
            <MaxHistory>3</MaxHistory>
            <!--<maxFileSize>1MB</maxFileSize>-->
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} ${HOST_NAME} %p [%logger{36}.%M\(\):%L] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--审计日志定义-->
    <appender name="auditLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-audit.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-audit-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} ${HOST_NAME} %p [%logger{36}.%M\(\):%L] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="auditLogger" additivity="true">
        <appender-ref ref="auditLogger" />
    </logger>

    <!--控制台打印sql-->
    <logger name="cn.yu.demo.server.dao" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>